.input {
    border: 3px solid skyblue;
}
/* .hide {
     opacity: 0;
     transition: all 1.5s ease-in;
}
.show {
     opacity: 1;
     transition: all 1.5s ease-in;
} */

/* .hide {
     
      animation: hide-item   1.5s ease-in forwards;
}
.show {
    
      animation: show-item   1.5s ease-in;
}
@keyframes hide-item {
    0%{
        opacity: 1;
        color: blueviolet
    }
    50%{
        opacity: 0.5;
        color: darkolivegreen
    }
    100%{
        opacity: 0;
        color: cadetblue
    }
}
@keyframes show-item {
    0%{
        opacity: 0;
        color: blueviolet
    }
    50%{
        opacity: 0.5;
        color: darkolivegreen
    }
    100%{
        opacity: 1;
        color: cadetblue
    }
} */

.boss-text-enter{
    opacity: 0;
}
.boss-text-enter-active{
    opacity: 1;
    transition: opacity 2000ms;
}
.boss-text-enter-done{
    opacity: 1;
}
.boss-text-exit{
    opacity: 1;
}
.boss-text-exit-active{
    opacity: 0;
    transform: opacity 2000ms;
}
.boss-text-exit-done{
    opacity: 0;
}